html{
	font-size: 20px;
}

.container {
	background-color: red;
	width: 100%;
	height: 200px;
	font-size: 10px;
}

.first {
	background-color: yellow;
	height: 20px;
	width: 50%;
	font-size: 1em;
}


.second {
	background-color: gray;
}

 .third {
	background-color: orange;
}

input:focus {
	background-color: gray;
}



.container [name$="sdddb"] {
	background-color: black;
}

label.required::before {
	content: "*";
}