.buttons{
    display: flex;
    flex-direction: row;
}

.buttons button {
    margin: 5px;
    width: 100px;
    height: 50px;
}

.lift-container{
    height: 600px;
    width: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.lift-container div {
    margin: 2px;
    width: 100%;
    height: 100%;
    background-color: blue;
}
