.title {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}

#invoices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invoice {
    display: flex;
    border: 1px solid;
    width: 100%;
    margin: 2px;
}


.invoices-columns {
    display: flex;
    width: 100%;
}

.column-id {
    width: 10%;
}

.column-name {
    width: 40%;
}

.column-nui {
    width: 20%;
}

.column-add {
    width: 30%;
}
