@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 191, 239, 0.623);
    font-family: 'Montserrat';
    font-size: 35px;
    border-radius: 10px 50px;
    box-shadow: 0 0 5px black;
}
.headerbg{
    width: 80%;
    margin: auto;
    display: flex;
    background: linear-gradient(#bad7f5, #ffffff);
    height: 70px;
    border-radius: 0 30px;
}
.nav {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid crimson; */
    width: 100%;
    height: 50px;
    align-items: center;
    margin-top: 40px;
}
.fa-plus , .fa-user{
    padding-right: 10px;
}
.nav button{
    border: 1px solid rgba(0, 0, 0, 0.623);
    background-color: rgba(221, 229, 237, 0.623);
    padding: 8px;
    border-radius: 10px;
    font-family: 'montserrat';
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.6s;
}
.nav button:hover{
    background-color: rgba(145, 191, 239, 0.623);
}
#invoices {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.invoice {
    display: flex;
    border: 1px solid;
    width: 90%;
    margin: 1px;
    font-family: 'montserrat';
}

.total {
    justify-content: space-between;
}


.invoices-columns {
    display: flex;
    width: 90%;
    background-color: rgba(145, 191, 239, 0.623);
    margin:7px 0;
    align-items: center;
    margin: auto;
    height: 30px;
    font-family: 'montserrat';
    color: #000;
    font-weight: 600;
    margin-top: 50px;
}

.column-id {
    width: 10%;
    font-weight: 700;
}

.column-name {
    width: 40%;
}

.column-nui {
    width: 20%;
}

.column-add {
    width: 30%;
}
.column-total {
    width: 15%;
}
.invoice-form {
    width: 100%;
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    font-size: 17px;
    font-family: 'montserrat';
    /* padding: 50px; */

}

.inputClass {
    height: 100%;
    width: 65%;
    padding: 9px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'montserrat';
    margin-top: 30px;
    align-items: center;
    
}
.inputClass input{
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 60%;
    height: 40px;
    background-color: #ceddee;
    
}
.inputClass span{
    color: black;
    /* text-shadow: 0 0 1px black; */

}
.invoice-form .selection-currency{
    margin-top: 20px;
    width: 65%;
    height: 50px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    
}
.invoice-form button{
    background-color: #bad7f5;
    color: black;
    font-family: 'montserrat';
    font-weight: 600;
    box-shadow: 0 0 5px black;
    /* border-radius: 30px; */
    /* width: 150%; */
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}
.selection-currency select{
    background-color: #bad7f5;
    color: black;
    font-family: 'montserrat';
    font-weight: 600;
    box-shadow: 0 0 5px black;
    border-radius: 30px;
    width: 20%;
    text-align: center;

}
