.title {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}

#invoices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invoice {
    display: flex;
}

.invoice div {
    padding: 10px;
}


