
body  {
    background-image:url(../eden/photo-1553095066-5014bc7b7f2d.jfif);
    background-size:cover;
font-family: Arial, Helvetica, sans-serif;
}

.home {
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 250px;
    background-image: url(../eden/112.jpg) ;
    background-position: top;
    border-radius: 5px;
}
 h1 {
     text-align: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
form{
    text-align: center;
    margin: 40px;
}
input  {
width: 220px;
height: 35px;
border-radius: 5px;
}
  input[class="paswordi"]{
    margin-top: 5px;
}
 input[type="button"]{
    margin-top: 5px;
    background-color: cornflowerblue;
    text-align: center;
 }