@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-size: cover;
    background-repeat: no-repeat;
    background: url('./bg.jpg');

}

.options {
    display: none;
    width: 400px;
    height: 500px;
    /* margin: auto; */
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    transform: translate(-50%, -100%);

    flex-direction: column;
    transition: 0.4s;
}

.dash-title {
    font-size: 21px;
    width: 50%;
    color: #fff;
    border-bottom: 2px solid #0008f5;
    margin-bottom: 40px;
    padding: 10px 0;
    font-family: 'montserrat';
}

.opa {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .7;
    z-index: -1;
}

.login-box {
    width: 380px;
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    transform: translate(-50%, -100%);
    /* border: 1px solid white; */
    /* height: 400px; */
    transition: 0.3s;

}

.login-box h1 {
    float: left;
    font-size: 40px;
    width: 40%;
    color: #fff;
    border-bottom: 2px solid #00af29;
    margin-bottom: 80px;
    padding: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-box {
    width: 70%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #00af29;
}

.text-box i {
    width: 26px;
    float: left;
    text-align: center;
}

.text-box input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.deposit, .transfer {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    /* border-bottom: 1px solid #0008f5; */
}

.login-box .button-login {
    width: 30%;
    background: none;
    border: 1px solid #00af29;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* margin: 2px 0; */
    cursor: pointer;
    font-family: 'Montserrat';
    margin: 15px 0;
}

.options .go-out {
    width: 30%;
    background: none;
    border: 1px solid #00af29;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* margin: 2px 0; */
    cursor: pointer;
    font-family: 'Montserrat';
    margin: 15px 0;
}

.deposit button {
    width: 25%;
    height: 40px;
    background: none;
    border: 2px solid #fff;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* margin: 2px 0; */
    cursor: pointer;
    font-family: 'Montserrat';
    /* margin: 15px 0; */
}

.transfer button:hover {
    border: 1px solid #ff1515;
    transition: all .3s;
}

.deposit button:hover {
    border: 1px solid #00af29;
    transition: all .3s;
}

.deposit input {
    border: 1px solid #ffffff;
    width: 55%;
    height: 50px;
    background: none;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* margin: 2px 0; */
    cursor: pointer;
    font-family: 'Montserrat';
    margin: 5px 0;

}

.transfer button {
    width: 25%;
    height: 40px;
    background: none;
    border: 2px solid #fff;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* margin: 2px 0; */
    cursor: pointer;
    font-family: 'Montserrat';
    margin: 0 0 25px 0;
}

.transfer .go-out {
    border: 2px solid red;
}

.transfer input {
    width: 55%;
    height: 50px;
    background: none;
    border: 1px solid #fff;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* margin: 2px 0; */
    cursor: pointer;
    font-family: 'Montserrat';
    /* margin: 15px 0; */
}
