html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;

    grid-template-areas: "header header header"
                          "left posts body";
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 50px 600px;
    grid-gap: 15px;
}

.grid-container div {
    height: auto;
    width: auto;
    background-color: aqua;
    color: white;
}

.nav {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav input{
    height: 20px;
}

.posts div {
    width: auto;
    height: auto;
    background-color: #4d40c9;
}

.posts {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 5px;
}

.post-2{
    /*grid-row-start: 1;*/
    /*grid-row-end: 3;*/
    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/
    /*grid-area: 1/2/3/3;*/


}





/*//justify - align*/











