.grid-container {
    display: grid;

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px 400px;
    grid-row-gap: 150px;
}


.grid-container div {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 1px;
}
