.grid-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 200px;
    grid-gap: 15px;
}

.grid-container div {
    height: auto;
    width: auto;
    background-color: aqua;
    color: white;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 4;


}
