html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;

    grid-template-areas: "header header header"
                          "left posts body";
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 50px 2000px;
    grid-gap: 15px;
}

.grid-container div {
    height: auto;
    width: auto;
    background-color: aqua;
    color: white;
}

.nav {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav input{
    height: 20px;
}

