 body {
     background-color: #25274d;
     font-family: 'Roboto' sans-serif;
 }

 .singup-box {
     width: 360px;
     height: 720px;
     margin: auto;
     background-color: white;
     border-radius: 4px;
 }
 .login-box {
    width: 360px;
    height: 320px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
 }

 h1 {
     text-align: center;
     padding-top: 15px ;
 }

 p {
     text-align: center;
     padding-top: 20px;
 }

 a {
     color: #29648a;
 }

 form { 
     width: 300px;
     margin-left: 20px;
 }


form label {
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;

}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #2e9cca;
    text-align: center;
    color: white;
}