.container {
  height: 200px;
  height: 100px;
  background-color: gray;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container .first {
	background-color: red;
	height: 70px;
	width: 50px;
	margin: 10px;
}

.container .second {
	background-color: red;
	height: 80px;
	width: 50px;
	margin: 10px;
}

.container .third {
	background-color: red;
	height: 90px;
	width: 50px;
	margin: 10px;
}