@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.todo-title{
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    }
.todo-title:hover{
     color: rgb(255, 255, 255);
    transition: .7s;
}
.todo-title span{
    color: #ffffff;
    font-family: 'Alfa Slab One', sans-serif;
}
.todo-title span:hover{
    color: rgb(0, 0, 0);
    transition: 0.6s;
}
.background{
    background-image: url(/styles/bck1.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.container {
    width: 470px;
    height: 450px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 2px solid white;
    box-shadow: 0 0 50px black;
    
}
.header {
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(251, 251, 251);
    }
.button-header-design{
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: row;
}
.title-input{
    width: 100%;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 15px;
    border: 2px solid #4d40c9;
    margin-right: 5px;
    color: #6e58fb;
    font-weight: 600;
    position: relative;
    border-radius: 30px;
    padding-left: 7px;
}
.save-toto-button{
    border: none;

}
.fa-solid{
font-size: 40px;
text-decoration: none;
background-color: #775ef8;
color: white;
text-decoration: none;
outline: none;
cursor: pointer;
border: none;
}

.todo-list{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(251, 251, 251);
    justify-content: center;
}
.create-todo-list{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.new-name-todolist{    
    width: 72%;
    height: 39px;
    font-family: 'Montserrat';
    font-size: 15px;
    border: 2px solid #4d40c9;
    margin-right: 3px;
    color: #6e58fb;
    font-weight: 600;
    position: relative;
    border-radius: 30px;
    padding-left: 7px;
}
.task-footer{
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-taskk{
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.name-of-tasks{
    width: 75%;
    height: 40px;
    font-family: 'Montserrat';
    font-size: 15px;
    border: 2px solid #4d40c9;
    margin-right: 5px;
    color: #6e58fb;
    font-weight: 600;
    position: relative;
    border-radius: 30px;
    padding-left: 7px;
    margin-bottom: 5px;
}
.edit-tasks{
    height: 36px;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
    background: none;
    color: black;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 8px;
    transition: .5s;
}
.delete-tasks{
    height: 36px;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 3px;
    cursor: pointer;
    background: #fe2323f7;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 8px;
    transition: .5s;
}
.delete-tasks:hover{
    background-color: black;
    box-shadow: 2px 0 26px red;
}
.edit-tasks:hover{
    background: #69fbc6;
    color: black;
    border: 1px solid white;
}