*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.background{
    background-image: url("./getoar-imgs/bck1.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.container-edit-form{
    width: 470px;
    height: 450px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 2px solid white;
    box-shadow: 0 0 50px black;
}
.body-edit-todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding-top: 100px;
}
.body-edit-todo div{
    
    margin: 10px;
}