.container {
    background-color: aqua;
    width: 100%;
    height: 100%;
    border: 10px solid blue;
    border-radius: 5px;
    box-sizing:  border-box;
    padding: 20px;
}

.header {
    border-radius: 5px;
    background-color: dimgrey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.title-input {
    color:white;
    font-style: normal;
    background-color: black;
    border: 5px solid white;
    border-radius: 50px;
    margin: 10px;
}

.save-toto-button {
    display: flex;
    color: white;
    font-style: normal;
    background-color: orange;
    border: 5px solid white;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #f9e506;
}

.save-toto-button:hover {
    box-shadow: inset 100px 0 0 0 #f9e506;
    cursor: pointer;
    color: #000;
}

.test-text {
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    padding: 2px 10px;
    margin: 5px;
   
}



@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

.button-hey {
    font-family: 'Supermercado One', cursive;
    letter-spacing: 4px;
    background-color: #25252A;
}
.button-hey {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100px;
}

.button-hey {
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.5s;
    font-size: 2rem;
    outline: none;
}

    .button-hey:hover {
        box-shadow: inset 300px 0 0 0 #f9e506;
        cursor: pointer;
        color: #000;
    }