.container {
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: 10px solid blue;
    border-radius: 5px;
    box-sizing:  border-box;
    padding: 20px;
}

.header {
    border-radius: 5px;
    background-color: dimgrey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 5px;
    padding: 5px;
}

.title-input {
    color:white;
    font-style: normal;
    background-color: black;
    border: 5px solid white;
    border-radius: 50px;
    margin: 10px;
}

.save-toto-button {
    color: white;
    font-style: normal;
    background-color: orange;
    border: 5px solid white;
    border-radius: 50px;
    margin: 10px;
   
}
